extends template
block mail-content
    div
        | Hello, dear #{userName}
        br
        | Welcome on board! Thank you for registering on this website. Hope you enjoy our proposals. We will be happy to serve you as a supplier.
