extends template
block mail-content
    div
        | Hello, dear #{userName}!
        br
        | Please click this link for registration accept:
        a(href='#{frontURL}/profile?token=#{access_token}')
