extends template
block mail-content
    div
        | Hello, dear #{userName}!
        br
        | Please click this link for registration accept:
        a(href='#{frontUrl}/profile?token=#{actionToken}')
