extends template
block mail-content
    div
        | Hello, dear #{user}!
        br
        | Welcome on board! You must activate your profile by next link clicking:
        br
        a(href=frontUrl) follow the link
